

<div class="wrapper">
    <div class="sidebar">
        <img src="https://i.pinimg.com/564x/92/dd/50/92dd50f2965ee44096636b205b531404.jpg" alt="">
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Social Media</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>Events</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>Topic</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Friends</a></li>
        </ul> 
        
    </div>
</div>